@import url(root.css);
@import url(restaurant.css);
@import url(menu.css);
@import url(group-menu.css);
@import url(specialties.css);
@import url(reservation.css);
@import url(responsive.css);



/* .container {
    padding: 20px;
} */

/* Page Specific Styles */
/* .specialties img {
    max-width: 100%;
    height: auto;
} */

